---
import Paragraph from "../shared/Paragraph.astro";
import { Image } from "astro:assets";
import Title2 from "../shared/Title2.astro";

export interface Props {
  title: string;
  description: string;
  location: string;
  visual: ImageMetadata;
}

const { title, description, location, visual } = Astro.props;
---

<div
  class="overflow-hidden rounded-lg h-full bg-base dark:bg-base-dark border border-base-300 dark:border-base-900/50"
>
  <div class="relative">
    <Image
      src={visual}
      alt="Hero"
      width="2350"
      height="2359"
      class="w-full h-96 object-cover"
    />
    <svg
      class="absolute top-[-1px] start-0 fill-base dark:fill-base-dark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 75"
    >
      <path d="M0 0l400 0L400 75 0 25Z"></path>
    </svg>
    <p class="absolute top-0 end-0 m-3 start-end text-sm opacity-50">
      {location}
    </p>
    <svg
      class="absolute bottom-[-1px] start-0 fill-base dark:fill-base-dark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -50 400 50"
    >
      <path d="M0 0l400 0L0-50Z"></path>
    </svg>
  </div>
  <div class="grid grid-cols-1 content-between w-full">
    <Title2 className="m-6">
      {title}
    </Title2>
    <div class="m-6 self-baseline">
      <div class="text-sm">
        {description}
      </div>
    </div>
  </div>
</div>
