---
import Container from "../shared/Container.astro";
import { Image } from "astro:assets";
// import heroImg from "../../assets/solar.jpg";
import heroImg from "../../assets/solar-flip.jpg";
import Paragraph from "../shared/Paragraph.astro";

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className}`>
  <Image
    src={heroImg}
    alt="Hero"
    width="2350"
    height="2359"
    class="w-full h-[80vh] object-cover"
  />
  <div class="absolute top-0 start-0 w-full h-[80vh] pt-[100px]">
    <Container className="">
      <div class="">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
        font-bold text-heading-1"
        >
          Powering Tomorrow,<br /> Sustainably Today!
        </h1>
        <Paragraph className="mt-8 ">
          Join the Green Energy Revolution with [Company Name].
        </Paragraph>
        <div></div>
      </div>
    </Container>
  </div>
</section>
